<body id="snapshots_index">
  <h1>Snapshots</h1>

  <p>Instructions...</p>

  <h2>Test group 1</h2>

  <ul>
    <% @snapshots.each do |snapshot_slug| %>
      <li>
        <a href="<%= snapshot_path(snapshot_slug) %>">
          <%= snapshot_slug %>
        </a>
      </li>
    <% end %>
  </ul>
</body>
