<body id="snapshots_index">
  <h1>Snapshots</h1>

  <p>Instructions...</p>

  <h2>Test group 1</h2>

  <ul>
    <li><a href="<%= snapshot_path("sample-test-case-one") %>">sample test description</a></li>
    <li><a href="<%= snapshot_path("sample-test-case-one") %>">another test description</a></li>
  </ul>
</body>
