<body id="not_found">
  <h1>Not Found</h1>

  <p>
    The snapshot you are looking for can't be found.
    Go back to <a href="<%= root_path %>" style="text-decoration: underline; color: #666">a list of snapshots</a>.
  </p>
</body>
